{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edycja psów reproduktorów{% endblock %}</h1>
    <h3><a href="{{ url_for('browser.dogs') }}">Przegląd psów reproduktorów</a></h3>
{% endblock %}

{% block content %}
<h3>Dodaj dane psa</h3>
<form method="post">
    <label for="dog_name">Imię psa</label>
    <input name="dog_name" id="dog_name" required>
    <label for="breeder_id">ID hodowcy</label>
    <input name="breeder_id" id="breeder_id" required>
    <label for="litter_id">ID miotu</label>
    <input name="litter_id" id="litter_id" required>
    <label for="breed_id">ID rasy</label>
    <input name="breed_id" id="breed_id" required>
    </br>
    <input type="submit" value="Dodaj">
</form>

<h3>Usuń dane psa</h3>
<form method="post">
    <label for="dog_id">ID psa</label>
    <input name="dog_id" id="dog_id" required>
    <input type="submit" value="Usuń">
</form>

<h3>Edytuj dane psa</h3>
<form method="post">
    <label for="dog_id">ID psa</label>
    <input name="dog_id" id="dog_id" required>
    <label for="breeder_id">ID hodowcy</label>
    <input name="breeder_id" id="breeder_id" required>
    <label for="litter_id">ID miotu</label>
    <input name="litter_id" id="litter_id" required>
    <label for="breed_id">ID rasy</label>
    <input name="breed_id" id="breed_id" required>
    </br>
    <input type="submit" value="Aktualizuj">
</form>
{% endblock %}