{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Informacje o zarejestrowanych hodowlach{% endblock %}</h1>
<h3><a href="{{ url_for('editor.kennels') }}">Edycja listy hodowlii</a></h3>

{% endblock %}

{% block content %}
  <div class="content-area">
    <div class="search-area">
      <h4>Szukaj według</h4>
      <form method="get"  action="{{ url_for('browser.kennels_search') }}" id="search_form">
        <label for="kennel_name">Nazwa hodowli</label>
        <input name="kennel_name" id="kennel_name">
        <label for="breeder_id">Numer identyfikacyjny właściciela</label>
        <input name="breeder_id" id="breeder_id">
        <label for="region_id">Numer identyfikacyjny regionu</label>
        <input name="region_id" id="region_id">
        <input type="submit" value="Wyszukaj">
    </form>
    </div>
    <div class="w3-responsive">
    <table class="w3-table-all w3-hoverable">
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>ID Właściciela</th>
        <th>ID Regionu</th>
      </tr>
      {% for kennel in kennels %}
      <tr>
        <td>{{ kennel[0] }}</td>
        <td>{{ kennel[3] }}</td>
        <td><a href="{{ url_for('browser.breeder_details', id=kennel[1]) }}">{{ kennel[1] }}</a></td>
        <td>{{ kennel[2] }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>

{% endblock %}