{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Informacje o zarejestrowanych hodowlach{% endblock %}</h1>
<h3><a href="{{ url_for('editor.kennels') }}">Edycja listy hodowlii</a></h3>

{% endblock %}

{% block content %}
  <div class="content-area">
    <div class="search-area">
      <h4>Szukaj według</h4>
      <form method="post">
        <label for="breeder_name">Imię i nazwisko hodowcy</label>
        <input name="breeder_name" id="breeder_name">
        <label for="kennel_name">Nazwa hodowli</label>
        <input name="kennel_name" id="kennel_name">
        <label for="region">Region</label>
        <input name="region" id="region">
        <input type="submit" value="Wyszukaj">
    </form>
    </div>
    <div class="w3-responsive">
    <table class="w3-table-all w3-hoverable">
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>ID Właściciela</th>
        <th>ID Regionu</th>
      </tr>
      {% for kennel in kennels %}
      <tr>
        <td>{{ kennel[0] }}</td>
        <td>{{ kennel[3] }}</td>
        <td>{{ kennel[1] }}</td>
        <td>{{ kennel[2] }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>

{% endblock %}